<!-- <div class="col-sm-3 col-md-3"> -->

<!--  <div class="panel panel-default angolo-panel">

        <div class="panel-body ">

            <img class="img-responsive center-block" src="https://icon-icons.com/icons2/935/PNG/512/file-rounded-empty-sheet_icon-icons.com_73253.png" style="max-height: 50px;" (click)="onCreaMappa()">
            <h4 class="text-center small">Nuovo documento</h4>

        </div>
     

    </div> -->
<!-- </div> -->

<!-- <li class="last"> -->
<a (mouseenter)="changeCursorIn()" (mouseleave)="changeCursorOut()" [style.cursor]="cursor" (click)="onCreaMappa()">
    <img src="/img/icon-new.png" />
    <h1>Aggiungi un nuovo documento</h1>
</a>
<!-- </li> -->