.angolo-panel {
    border-radius: 0px
}

.loading-bar {
    width: 200px;
    height: 20px;
    border: 1px solid black;
    margin: auto;
    box-sizing: box-content;
}

.loading-bar-element {
    width: 200px;
    height: 20px;
    background-color: deepskyblue;
    animation: loading 50ms ease-out infinite;
}

@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}