<!-- <div class="col col-sm-4 col-md-4" *ngIf="box.titolo && belongsToUser()"> -->


<!-- <li *ngIf="box.titolo && belongsToUser()"> -->


<a *ngIf="box.titolo && belongsToUser()" href="#">
    <img [src]="'/img/box-' + stato + '.png'" class="full" />
    <div>
        <img [src]="'/img/icon-' + stato + '.png'" class="right" />
        <h3>{{stato}}</h3>
        <h1>{{box.content}}</h1>
    </div>
</a>

<p *ngIf="box.titolo && belongsToUser()">
    <span>
            <a [routerLink]=" [ '/' + naviga +'/'+ box.numero_mappa]"><img src="/img/icon-edit.png"/></a>
            <a ><img (mouseenter)="changeCursorIn()" (mouseleave)="changeCursorOut()" [style.cursor]="cursor" src="/img/icon-delete.png" (click)="callDeleteMappa()" /></a>
    </span>
</p>