<!-- <div class="col col-sm-4 col-md-4" *ngIf="box.titolo && belongsToUser()"> -->


<!-- <li *ngIf="box.titolo && belongsToUser()"> -->


<a *ngIf="box.titolo && belongsToUser()" href="#">
    <img [src]="'/img/box-' + stato + '.png'" class="full" />
    <div>
        <img [src]="'/img/icon-' + stato + '.png'" class="right" />
        <h3>{{stato}}</h3>
        <h1>{{box.content}}</h1>
    </div>
</a>

<p *ngIf="box.titolo && belongsToUser()">
    <span>
            <a [routerLink]=" [ '/' + naviga +'/'+ box.numero_mappa]"><img src="/img/icon-edit.png"/></a>
            <a ><img (mouseenter)="changeCursorIn()" (mouseleave)="changeCursorOut()" [style.cursor]="cursor" src="/img/icon-delete.png" (click)="callDeleteMappa()" /></a>
    </span>
</p>




<!-- <app-alert4 [box]=box [alert_testo]=alertTesto *ngIf="alert_visibility" (alertVisibility)="alert_Visibility()"></app-alert4> -->
<!-- </li> -->

<!-- <div class="panel panel-default angolo-panel">

        <div class="panel-body">
            <div class="row">
                <div class="col col-sm-1 col-md-1">
                    <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </div>
                <div class="col col-sm-10 col-md-10">
                    <div class="panel-title">Idee</div>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-12 col-md-12">

                    {{box.content}}
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-12 col-md-12">
                    <span class="glyphicon glyphicon-remove-sign close" aria-hidden="true" (click)="callDeleteMappa()"></span>
                    <a [routerLink]=" [ '/idee/'+ box.numero_mappa] ">
                        <span class="glyphicon glyphicon-pencil close " aria-hidden="true "></span>
                    </a>

                </div>
            </div>
        </div>

    </div> -->
<!-- </div> -->